.icons a.github { background: url(/images/icons/github.png) left top no-repeat; }
.icons a.linkedin { background: url(/images/icons/linkedin.png) left top no-repeat; }
.icons a.mail { background: url(/images/icons/mail.png) left top no-repeat; }
.custom_intro {
    font-size: 1rem;
} 
.site-header a {
    font-weight: bold;
}