<nav class="social-icons icons">
<a class="fa fa-rss rss" href="/index.xml"></a>
{{ if isset .Site.Params "twitter_username" }}
<a class="fa fa-twitter twitter" href="https://twitter.com/{{ .Site.Params.twitter_username }}"></a>
{{ end }}
{{ if isset .Site.Params "github_username" }}
<a class="fa fa-github github" href="https://github.com/{{ .Site.Params.github_username }}"></a>
{{ end }}
{{ if isset .Site.Params "linkedin_username" }}
<a class="fa fa-linkedin linkedin" href="https://www.linkedin.com/in/{{ .Site.Params.linkedin_username }}"></a>
{{ end }}
{{ if isset .Site.Params "mail_address" }}
<a class="fa fa-mail mail" href="mailto:{{ .Site.Params.mail_address }}"></a>
{{ end }}
</nav>
